In [45]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt  
import plotly.express as px


# load data
population = pd.read_csv("B:/prepinsta/Week4/country_population.csv")
fertility_rate = pd.read_csv("B:/prepinsta/Week4/fertility_rate.csv")
metadata=pd.read_csv("B:/prepinsta/Week4/Metadata_Country.csv")
life_expectancy = pd.read_csv("B:/prepinsta/Week4/life_expectancy.csv")

In [46]:

# List of columns to be removed
columns_to_remove = ["Indicator Name", "Indicator Code"]

# Dropping the specified columns
population = population.drop(columns=columns_to_remove)

# Renaming the 'country Name' column
population.rename(columns={"country Name": "Country Name"}, inplace=True)

# Filtering rows where 'Country Name' is not 'not classified'
population = population[population['Country Name'] != 'not classified']

# Converting column names to lowercase and replacing spaces with underscores
population.columns = population.columns.str.lower().str.replace(' ', '_')

# Filling NaN values with the median of each row for columns starting from the third column
population.iloc[:, 2:] = population.iloc[:, 2:].apply(lambda row: row.fillna(row.median()), axis=1)

population

,country_name,country_code,1960,1961,1962,1963,1964,1965,1966,1967,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,57715.0,58055.0,...,101220.0,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0
1,Afghanistan,AFG,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,10152331.0,10372630.0,...,26616792.0,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0
2,Angola,AGO,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,6309770.0,6414995.0,...,20997687.0,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0
3,Albania,ALB,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,1965598.0,...,2970017.0,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0
4,Andorra,AND,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,19647.0,20758.0,...,82683.0,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,1106000.0,1135000.0,...,1733404.0,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0
260,"Yemen, Rep.",YEM,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,5643643.0,5748588.0,5858638.0,...,21751605.0,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0
261,South Africa,ZAF,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,19942303.0,20486439.0,21045785.0,...,49887181.0,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0
262,Zambia,ZMB,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,3563407.0,3676189.0,3791887.0,...,12725974.0,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0
263,Zimbabwe,ZWE,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,4410212.0,4553433.0,4700041.0,...,13329909.0,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0

In [47]:
years =[str(i)for i in range(1960,2016)]
print(years)
population.columns

['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']

Index(['country_name', 'country_code', '1960', '1961', '1962', '1963', '1964',
       '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973',
       '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982',
       '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016'],
      dtype='object')

In [48]:
df = pd.melt(population,
        id_vars='Country_Code',
        value_vars=years,
        var_name='Year',
        value_name='Polulation')

KeyError: 'Country_Code'

FERTILITY DATA FRAME

In [ ]:

# Assuming you have already imported pandas and have a DataFrame named 'population'

columns_to_remove = ["Indicator Name", "Indicator Code"]

# Dropping specified columns
fertility_rate = fertility_rate.drop(columns=columns_to_remove)

# Renaming the 'country Name' column
fertility_rate.rename(columns={"country Name": "Country Name"}, inplace=True)

# Filtering rows where 'Country Name' is not equal to 'not classified'
fertility_rate = fertility_rate[fertility_rate['Country Name'] != 'not classified']

# Converting column names to lowercase and replacing spaces with underscores
fertility_rate.columns = fertility_rate.columns.str.lower().str.replace(' ', '_')

# Filling NaN values with the median for each row in columns 2 onwards
fertility_rate.iloc[:, 2:] = fertility_rate.iloc[:, 2:].apply(lambda row: row.fillna(row.median()), axis=1)

In [ ]:
fertility_rate

,country_name,country_code,1960,1961,1962,1963,1964,1965,1966,1967,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,4.820,4.655,4.471,4.271,4.059,3.842,3.625,3.417,...,1.763,1.764,1.769,1.776,1.783,1.791,1.796,1.800,1.801,1.800
1,Afghanistan,AFG,7.450,7.450,7.450,7.450,7.450,7.450,7.450,7.450,...,6.460,6.254,6.038,5.816,5.595,5.380,5.174,4.981,4.802,4.635
2,Angola,AGO,7.478,7.524,7.563,7.592,7.611,7.619,7.618,7.613,...,6.368,6.307,6.238,6.162,6.082,6.000,5.920,5.841,5.766,5.694
3,Albania,ALB,6.489,6.401,6.282,6.133,5.960,5.773,5.581,5.394,...,1.668,1.650,1.646,1.653,1.668,1.685,1.700,1.710,1.714,1.713
4,Andorra,AND,1.240,1.240,1.240,1.240,1.240,1.240,1.240,1.240,...,1.180,1.250,1.190,1.270,1.240,1.240,1.240,1.240,1.240,1.240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,2.700,2.700,2.700,2.700,2.700,2.700,2.700,2.700,...,2.430,2.380,2.340,2.290,2.240,2.190,2.160,2.130,2.090,2.060
260,"Yemen, Rep.",YEM,7.488,7.531,7.575,7.621,7.665,7.705,7.737,7.760,...,5.090,4.940,4.801,4.674,4.554,4.440,4.327,4.215,4.104,3.995
261,South Africa,ZAF,6.041,6.028,6.010,5.986,5.956,5.920,5.878,5.832,...,2.636,2.619,2.603,2.588,2.572,2.554,2.533,2.510,2.485,2.458
262,Zambia,ZMB,7.115,7.169,7.214,7.249,7.274,7.291,7.304,7.317,...,5.642,5.561,5.478,5.397,5.318,5.242,5.171,5.104,5.041,4.981
263,Zimbabwe,ZWE,7.158,7.215,7.267,7.311,7.347,7.373,7.391,7.403,...,4.001,4.014,4.024,4.028,4.019,3.996,3.957,3.903,3.836,3.760

Metadata Frame

In [ ]:
 metadata

,Country Code,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
0,ABW,Latin America & Caribbean,High income,SNA data for 2000-2011 are updated from offici...,Aruba,NaN
1,AFG,South Asia,Low income,Fiscal year end: March 20; reporting period fo...,Afghanistan,NaN
2,AGO,Sub-Saharan Africa,Lower middle income,NaN,Angola,NaN
3,ALB,Europe & Central Asia,Upper middle income,NaN,Albania,NaN
4,AND,Europe & Central Asia,High income,WB-3 code changed from ADO to AND to align wit...,Andorra,NaN
...,...,...,...,...,...,...
258,XKX,Europe & Central Asia,Lower middle income,WB-3 code changed from KSV to XKX to align wit...,Kosovo,NaN
259,YEM,Middle East & North Africa,Lower middle income,Based on official government statistics and In...,"Yemen, Rep.",NaN
260,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa,NaN
261,ZMB,Sub-Saharan Africa,Lower middle income,The base year is 2010. National accounts data ...,Zambia,NaN
262,ZWE,Sub-Saharan Africa,Low income,Fiscal year end: June 30; reporting period for...,Zimbabwe,NaN